@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0 20px;
}

.container .heading{
    width: 50%;
    padding-bottom: 20px;
}

.container .heading h3{
    font-size: 3em;
    font-weight: bolder;
    padding-bottom: 10px;
}

.container .heading h3 span{
    font-weight: 100;
   
}

.container .heading h4{
    font-size: 1em;
    font-weight: bolder;
    padding-bottom: 0px;
    border-bottom: 3px solid #222;
}

.container .heading h4 span{
    font-weight: 100;
}

.container .box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container .box .dream{
    display: flex;
    flex-direction: column;
    width: 32.5%;
    padding-bottom: 15px;
}

.container .box .dream img{
    width: 99%;
    border-radius: 5px;
    border: 2px solid black;
}

.container .box .dream img:hover{
    width: 99%;
    border-radius: 5px;
    border: none;
}

.container .btn{
    margin: 10px 1px 10px 1px;
    background: #222;
    padding: 30px 10px 30px 10px;
    border-radius: 5px;
}

.container .btn:hover{
    background: #252525;
}

.container .btn a{
    color: #fff;
    font-size: 1.4em;
    text-decoration: none;
    font-weight: bolder;
    letter-spacing: 3px;
}

.container .btn a:hover{
    font-size: 1.5em;
}

@media (orientation: portrait) {
    .container .heading h3{
        font-size: 1.8em;
    }
    
    .container .box{
        flex-direction: column;
    }

    .container .box .dream{
        width: 100%;
    }
}

@media (orientation: landscape) {
    body {
        .container .heading h3{
            font-size: 3em;
        } 
    }
}
